.standard-image {
    width: 800px;
    height: 300px;
    object-fit: contain;
  }
  
  .carousel-control-next-icon{
    background-color: rgb(241, 107, 24);
  }
  .carousel-control-prev-icon{
    background-color: rgb(241, 107, 24);
  }