.toggle-icon {
    font-size: 50px; /* Adjust the font size as needed */
    cursor: pointer;
  }
  .fa-toggle-on {
    color: green; /* Green color for 'Actif' */
  }
  
  .fa-toggle-off {
    color: red; /* Red color for 'Inactif' */
  }