<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Liste des Offres Sport</h4>
        </div>
    </div>
</div>
<div class="row equal-height-cards">
    <div class="col-md-6 col-xl-3" *ngFor="let annonce of annonces" (click)="fetchAnnonceById(annonce.id)">
        <div class="card">
            <img class="card-img-top img-fluid" [src]="annonce.image_url" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">{{ annonce.titre }}</h4>
                <p class="card-text">{{ annonce.fornisseur_name }}</p>
                <p class="card-text">{{ annonce.type_annonce }}</p>
            </div>
        </div>
    </div>
</div>
<div class="col-12 text-center" *ngIf="annonces.length > 0">
    <div class="text-center mt-3">
        <button class="btn btn-primary" [disabled]="currentPage === 1" (click)="previousPage()">
            <i class="fas fa-angle-double-left"></i>
        </button>
        <span class="mx-2">{{ currentPage }} / {{ lastPage }}</span>
        <button class="btn btn-primary" [disabled]="currentPage === lastPage" (click)="nextPage()">
            <i class="fas fa-angle-double-right"></i>
        </button>
    </div>
</div>
<div *ngIf="annonces.length === 0" class="alert alert-primary alert-dismissible fade show" role="alert">
    <i class="mdi mdi-bullseye-arrow me-2"></i>
    No Sport announcements available at the moment.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>