<div id="layout-wrapper">


    <app-header></app-header>
    <!-- ========== Left Sidebar Start ========== -->
    <app-side-bar></app-side-bar>
    <!-- Left Sidebar End -->

    <!--  main content-->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <!-- End Page-content -->
    <app-footer></app-footer>
    <!-- end main content-->

</div>